/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.editorconfig
.gitattributes
.styleci.yml
phpunit.xml
webpack.mix.js
yarn.lock
.idea
.env
.env.example

